description = "Scripts"

[viewBag]
==
<script src="{{ [
  '@jquery',
  'assets/bower_components/wow/dist/wow.js',
  'assets/bower_components/plyr/dist/plyr.js',
  'assets/bower_components/tether/dist/js/tether.js',
  'assets/bower_components/bootstrap/dist/js/bootstrap.js',
  'assets/bower_components/smooth-scroll/dist/js/smooth-scroll.js',
  'assets/bower_components/magnific-popup/dist/jquery.magnific-popup.js',
  'assets/bower_components/slick-carousel/slick/slick.min.js',
  'assets/js/scripts.js'
]|theme }}"></script>
{% framework extras %}
{% scripts %}
