/* Coolors Exported Palette - coolors.co/428bca-5cb85c-5bc0de-f0ad4e-d9534f */

/* HSL */
$color1: hsla(208%, 56%, 53%, 1);
$color2: hsla(120%, 39%, 54%, 1);
$color3: hsla(194%, 66%, 61%, 1);
$color4: hsla(35%, 84%, 62%, 1);
$color5: hsla(2%, 64%, 58%, 1);

/* RGB */
$color1: rgba(66, 139, 202, 1);
$color2: rgba(92, 184, 92, 1);
$color3: rgba(91, 192, 222, 1);
$color4: rgba(240, 173, 78, 1);
$color5: rgba(217, 83, 79, 1);
