// /* Coolors Exported Palette - coolors.co/3491e2-53d153-4ccff7-ffac38-f2443e */
//
// /* HSL */
// $color1: hsla(208%, 75%, 55%, 1);
// $color2: hsla(120%, 58%, 57%, 1);
// $color3: hsla(194%, 91%, 63%, 1);
// $color4: hsla(35%, 100%, 61%, 1);
// $color5: hsla(2%, 87%, 60%, 1);
//
// /* RGB */
// $color1: rgba(52, 145, 226, 1);
// $color2: rgba(83, 209, 83, 1);
// $color3: rgba(76, 207, 247, 1);
// $color4: rgba(255, 172, 56, 1);
// $color5: rgba(242, 68, 62, 1);

/* Coolors Exported Palette - coolors.co/5291d8-67c15b-62c1ea-efa545-e2554a */

/* HSL */
$color1: hsla(212%, 63%, 58%, 1);
$color2: hsla(113%, 45%, 56%, 1);
$color3: hsla(198%, 76%, 65%, 1);
$color4: hsla(34%, 84%, 60%, 1);
$color5: hsla(4%, 72%, 59%, 1);

/* RGB */
$color1: rgba(82, 145, 216, 1);
$color2: rgba(103, 193, 91, 1);
$color3: rgba(98, 193, 234, 1);
$color4: rgba(239, 165, 69, 1);
$color5: rgba(226, 85, 74, 1);
