$font-family-sans-serif:   "Raleway", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif:        $font-family-sans-serif;
$font-family-monospace:    "Fira Code", "Input Sans", Menlo, Monaco, Consolas, monospace;
$font-family-base:         $font-family-sans-serif;
$font-size-root:           16px;
$body-bg:                  #f3f3f3;
$container-max-widths:     (sm: 540px, md: 720px, lg: 960px, xl: 1200px);
$plyr-font-family:         $font-family-sans-serif;
$enable-flex:              true;
$enable-rounded:           false;
$enable-shadows:           false;
$enable-gradients:         false;
$enable-transitions:       true;
$enable-hover-media-query: true;
$enable-grid-classes:      true;
$enable-print-styles:      false;
$lead-font-weight:         400;
$headings-font-weight:     700;
$display1-weight:          700;
$display2-weight:          700;
$display3-weight:          700;
$display4-weight:          700;
$display5-weight:          700;
$brand-primary:            $color1;
$brand-success:            $color2;
$brand-info:               $color3;
$brand-warning:            $color4;
$brand-danger:             $color5;
$section-big:              660px;
$section-small:            420px;
$fa-font-path:             '../bower_components/font-awesome/fonts';
