description = "Quote"

[viewBag]
==
<section id="quote" class="flex-items-xs-middle py-3 background-image" style="background-image: url('{{ '/storage/app/media/unsplash/_plhuchfyb8-anthony-delanoix.jpg'  | resize(1200,1200) }}')">
  <div class="container">
    <div class="row text-xs-center">
      <div class="col-lg-8 offset-lg-2 wow zoomIn">
        <p class="display-4">
          <strong>“{{ quote }}”</strong>
        </p>
        <p class="h3">– {{ author }}</p>
      </div>
    </div>
  </div>
</section>